.buttonBack{
    min-width: 107px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: relative;
    background: #f1f1f1;
    border: 0;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 0 4px 4px 0;
    z-index: 0;
}

.buttonBack::after{
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 3px;
    width: 0;
    height: 0;
    border-color: transparent #f1f1f1 transparent transparent;
    border-style: solid;
    border-width: 14px 13px 14px 0;
    z-index: 0;
}
.buttonNextAds{
    min-width: 70px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: relative;
    background: #fdce09;
    border: 0;
    padding: 5px 10px;
    border-radius: 4px 0 0 4px;
z-index: 0;
}
.buttonNextAds::after{
    content: "";
    display: block;
    position: absolute;
    right: -14px;
    top: 3px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fdce09;
    border-style: solid;
    border-width: 15px 0 14px 13px;
    z-index: 0;
}
.liDirections{
    font-size: 12px;
    display: inline;
    color: #33659c;
}
.liDirections::after{
    color: #33659c;
    content: "»";
    padding: 0 5px
}